.App {
    .sidebar {
        width: 16%;
        height: 100vh;
        background-color: #D5B9B2;
        position: fixed;
    }

    .main-content {
        width: 84%;
        margin-left: 16%;
        background-color: #6D2E46;
        min-height: 100vh;
    }
}